/*--- Main container styles ---*/

.fieldset {
    border: none;
    width: 100%;
}

/*--- Answer styles ---*/

:where(.question-title) {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.c-questions {
    width: 100%;
    padding: 0;
    counter-reset: x;
}

.c-questions>label {
    margin: .625rem 0;
}

/*--- Input Styles ---*/

.c-input {
    display: flex;
    width: 100%;
    margin: .5rem 0;
}

/*--- Increment Styles ---*/

.c-number {
    display: flex;
    align-items: center;
    margin-right: .3125rem;
    font-weight: 600;
}

.c-number::before {
    counter-increment: x;
    content: counter(x, var(--counter-list, lower-alpha)) '.';
}