.fieldset {
  background-color: white;
}

.c-ol-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.c-ol-container span {
  font-weight: bold;
  color: var(--clr-error-900);
}
.c-questions div {
  border: none;
  background-image: url(assets\/images\/backgroudCheck.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
