/* Modal */

.c-modal {
    background: transparent;
    block-size: auto;
    padding: 0 !important;
    --modal-max-width: 40.375rem;
}


/* Input */

.c-input {
    --gap: 0.5em;
    --input-color: var(--clr-primary-900);
    display: flex;
    align-items: center
}

/* Input State */

.c-input[data-state="right"] {
    --input-color: var(--clr-success-500);
}

.c-input[data-state="wrong"] {
    --input-color: var(--clr-error-500);
}

/* Input box */

.c-input__box {
    position: relative;
    min-inline-size: 1.475rem;
    min-block-size: 1.475rem;
    color: var(--clr-primary-900);
    box-shadow: inset 0px 0px 0px 3px #dc9359, 0px 0px 1.9px 0.5px #79452a, 0px 0px 0px 4px #dfa878, -2px 0px 1px 4.4px #bd7f5f;
}

.c-input__box:focus-within {
    outline: max(2px, 0.08em) solid #79452a;
    outline-offset: max(2px, 0.4em);
}


.c-input__check, .c-input__icon {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
}

.c-input__check {
    opacity: 0;
    margin: 0;
}

.c-input__icon {
    display: grid;
    place-items: center;
    pointer-events: none;
    color: var(--clr-neutral-100);
    isolation: isolate;
}

.c-input__icon::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--input-color);
    z-index: -1;
    forced-color-adjust: none;
}

.c-input__check:checked+.c-input__icon::before {
    transform: scale(1);
}

/* Modal */

.c-modal {
    background: transparent;
    block-size: auto;
    padding: 0 !important;
    --modal-max-width: 40.375rem;
}

.c-modal > button {
    padding: var(--padding-2);
    --outline-color: var(--clr-common-white-100);
    --outline-size: 4px;
    background-color: transparent;
    background-image: url(/assets/images/Slide1-image-3.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}